body {
  background-color: #E7E8EB;
  color: #2C2C2C;
  margin: 1em auto;
  max-width: 40em;
  padding: 1em;
  line-height: 1.4;
  text-align: justify;
  font: 1.2em sans-serif
}
h1, h2, h3, h4 {
  color: #2D2D2C;
}
a {
  color: #4271AE
}
a:visited {
  color: #8959A8
}
a:hover {
  color: #3E999F
}
a:active {
  color: #D7005F
}
code {
border: 1px solid #aaa;
padding: 0.1em 0.3em;
}
pre > span {
  color: #718c00;
}
